$background-color: rgb(32, 26, 26);
$gold: rgb(205, 137, 10);
$gray: rgb(210, 210, 210);
$light-gray: rgb(225, 225, 225);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: $background-color;
    color: white;
    font-family: "Arial Black", Arial, sans-serif;
}

img {
    max-width: 100%;
}

.invisible {
    opacity: 0;
}

.page-content {
    overflow: hidden;

    .page-header {
        text-align: center;
        padding: 20px 0 100px;

        img {
            margin-left: 110px;
            height: 678px;
        }

        h2 {
            margin-right: 68px;
            margin-bottom: 8px;
            font-size: 30px;
            color: $gray;

            span {
                font-size: 66px;
                padding: 0 6px;
                color: white;
            }
        }

        h3 {
            margin-left: 35px;
            font-size: 22px;
            color: $light-gray;

            span.infinity-symbol {
                font-family: Georgia, serif;
            }

            &.death-date {
                position: relative;
                z-index: 3;
            }

            &.death-date-infinity {
                position: relative;
                margin-top: -31px;
                z-index: 1;
            }
        }

        div {
            position: relative;
            margin: -31px auto 0;
            left: 0;
            background-color: $background-color;
            height: 28px;
            width: 230px;
            transition: left 3s;
            z-index: 2;
        }

        &.is-visible {
            div {
                left: 250px;
            }
        }
    }

    main {
        article {
            border-top: 1px solid rgba($gold, 0.5);
            padding: 120px 100px 120px 120px;

            header {
                margin-bottom: 100px;

                h2 {
                    font-size: 42px;
                    padding-bottom: 6px;

                    span {
                        color: $background-color;
                        transition: color 1s;
                    }
                }

                h1 {
                    display: inline-block;
                    font-size: 58px;
                    width: 40%;
                    text-align: end;
                    transition: 1s;

                    &:before {
                        content: "";
                        display: block;
                        width: 0;
                        border-top: 1px solid $gold;
                        transition: 0.7s;
                    }
                }

                &.is-visible {
                    h2 span {
                        color: $gold;
                    }

                    h1:before {
                        width: 100%;
                    }
                }
            }

            section {
                display: flex;

                section {
                    align-self: center;
                    width: 40%;
                    //text-align: justify;

                    p {
                        font-size: 26px;
                        line-height: 39px;
                    }
                }
    
                aside {
                    align-self: center;
                    width: calc(60% - 60px);
                    margin-left: 60px;
                    text-align: center;
                    
                    img {
                        height: 600px;
                    }
                }
            }
        }
    }

    footer {
        margin-top: 120px;
        text-align: center;

        h1 {
            font-size: 68px;
            width: 73%;
            margin: 0 auto 200px;
            opacity: 0;
            transition: opacity 3s;

            span {
                display: block;
                text-align: end;
                color: $light-gray;
                font-size: 52px;
                margin-top: 8px;
                opacity: 0;
                transition: opacity 7s;
            }
        }

        img {
            width: 100%;
            height: 66.7%;
            vertical-align: bottom;
        }

        &.is-visible {
            h1, span {
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .page-content main {
        article {
            padding-right: 20px;
        }

        article:nth-child(2) section {
            section {
                width: 30%;
            }

            aside {
                width: calc(70% - 60px);
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .page-content {
        main article {
            header h1 {
                width: 60%;
            }

            section {
                section p {
                    font-size: 25px;
                    line-height: 36px;
                }

                aside img {
                    height: 500px;
                }
            }
        }

        footer h1 {
            width: 60%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .page-content {
        .page-header img {
            margin-left: 8%;
            width: 92%;
            height: 74%;
        }

        main {
            article {
                padding-right: 80px;
                padding-left: 80px;

                header h1 {
                    width: 70%;
                }
            }
    
            article:nth-child(2) section {
                flex-direction: column;

                section {
                    width: 100%;
                    margin-bottom: 60px;
                }
    
                aside {
                    width: 100%;
                    margin-left: 0;

                    img {
                        height: 600px;
                    }
                }
            }
        }

        footer h1 {
            width: 64%;
        }
    }
}

@media only screen and (max-width: 960px) {
    .page-content {
        main article {
            padding-right: 60px;
            padding-left: 60px;

            header {
                margin-bottom: 75px;

                h1 {
                    width: 80%;
                }
            }

            section {
                flex-direction: column;

                section {
                    width: 100%;
                    margin-bottom: 60px;
                }
    
                aside {
                    width: 100%;
                    margin-left: 0;

                    img {
                        height: 600px;
                    }
                }
            }
        }

        footer h1 {
            width: 75%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .page-content {
        .page-header {
            padding-bottom: 60px;

            h2 {
                margin-right: 0;
                margin-bottom: 50px;
    
                span {
                    display: block;
                }
            }
    
            h3 {
                margin-left: 0;
            }
        }

        main {
            article {
                padding-right: 40px;
                padding-left: 40px;

                section aside img {
                    height: 450px;
                }
            }

            article:nth-child(2) section aside img {
                height: 420px;
            }
        }

        footer h1 {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .page-content footer h1 {
        font-size: 54px;

        span {
            font-size: 40px;
        }
    }
}

@media only screen and (max-width: 580px) {
    .page-content main article header h1 {
        width: 100%;
        font-size: 46px;
    }
}

@media only screen and (max-width: 480px) {
    .page-content {
        main {
            article {
                padding-right: 20px;
                padding-left: 20px;

                header {
                    h2 {
                        font-size: 34px;
                    }

                    h1 {
                        font-size: 38px;
                    }
                }

                section {
                    section p {
                        font-size: 22px;
                        line-height: 30px;
                    }

                    aside img {
                        height: 350px;
                    }
                }
            }

            article:nth-child(2) section aside img {
                height: 300px;
            }
        }

        footer h1 {
            font-size: 36px;

            span {
                font-size: 28px;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .page-content {
        main {
            article {
                header {
                    h2 {
                        font-size: 24px;
                    }

                    h1 {
                        font-size: 24px;
                    }
                }

                section {
                    section p {
                        font-size: 20px;
                        line-height: 30px;
                    }

                    aside img {
                        height: 350px;
                    }
                }
            }

            article:nth-child(2) section aside img {
                height: 300px;
            }
        }

        footer h1 {
            font-size: 32px;

            span {
                font-size: 28px;
            }
        }
    }
}