* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #201a1a;
  color: white;
  font-family: "Arial Black", Arial, sans-serif;
}

img {
  max-width: 100%;
}

.invisible {
  opacity: 0;
}

.page-content {
  overflow: hidden;
}

.page-content .go-back-to-homepage {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px;
  background-color: #c00e4d;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.page-content .page-header {
  text-align: center;
  padding: 20px 0 100px;
  margin-top: 50px;
}

.page-content .page-header img {
  margin-left: 110px;
}

.page-content .page-header h2 {
  margin-right: 68px;
  margin-bottom: 8px;
  font-size: 30px;
  color: #d2d2d2;
}

.page-content .page-header h2 span {
  font-size: 66px;
  padding: 0 6px;
  color: white;
}

.page-content .page-header h3 {
  margin-left: 15px;
  font-size: 22px;
  color: #e1e1e1;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.page-content .page-header h3 span.infinity-symbol {
  font-family: Georgia, serif;
}

.page-content .page-header h3.death-date {
  position: absolute;
  z-index: 3;
}

.page-content .page-header h3.death-date-infinity {
  position: absolute;
  z-index: 1;
}

.page-content .page-header .animation-cover-bar {
  position: relative;
  margin: 0 auto;
  left: 0;
  background-color: #201a1a;
  height: 28px;
  width: 230px;
  -webkit-transition: left 4s;
  transition: left 4s;
  z-index: 2;
}

.page-content .page-header.is-visible div {
  left: 250px;
}

.page-content main article {
  border-top: 1px solid rgba(205, 137, 10, 0.5);
  padding: 120px 100px 120px 120px;
}

.page-content main article header {
  margin-bottom: 100px;
}

.page-content main article header h2 {
  font-size: 42px;
  padding-bottom: 6px;
}

.page-content main article header h2 span {
  color: #201a1a;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.page-content main article header h1 {
  display: inline-block;
  font-size: 58px;
  width: 40%;
  text-align: end;
  -webkit-transition: 1s;
  transition: 1s;
}

.page-content main article header h1:before {
  content: "";
  display: block;
  width: 0;
  border-top: 1px solid #cd890a;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.page-content main article header.is-visible h2 span {
  color: #cd890a;
}

.page-content main article header.is-visible h1:before {
  width: 100%;
}

.page-content main article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content main article section section {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.page-content main article section section p {
  font-size: 26px;
  line-height: 39px;
}

.page-content main article section aside {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: calc(60% - 60px);
  margin-left: 60px;
  text-align: center;
}

.page-content main article section aside img {
  height: 600px;
}

.page-content main article:nth-child(2) section aside img {
  height: 300px;
}

.page-content footer {
  margin-top: 120px;
  text-align: center;
}

.page-content footer h1 {
  font-size: 68px;
  width: 73%;
  margin: 0 auto 200px;
  opacity: 0;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.page-content footer h1 span {
  display: block;
  text-align: end;
  color: #e1e1e1;
  font-size: 52px;
  margin-top: 8px;
  opacity: 0;
  -webkit-transition: opacity 7s;
  transition: opacity 7s;
}

.page-content footer img {
  width: 100%;
  height: 66.7%;
  vertical-align: bottom;
}

.page-content footer.is-visible h1, .page-content footer.is-visible span {
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  .page-content main article {
    padding-right: 20px;
  }
  .page-content main article:nth-child(2) section section {
    width: 30%;
  }
  .page-content main article:nth-child(2) section aside {
    width: calc(70% - 60px);
  }
}

@media only screen and (max-width: 1280px) {
  .page-content main article header h1 {
    width: 60%;
  }
  .page-content main article section section p {
    font-size: 25px;
    line-height: 36px;
  }
  .page-content main article section aside img {
    height: 500px;
  }
  .page-content main article:nth-child(2) section aside img {
    height: 250px;
  }
  .page-content footer h1 {
    width: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  .page-content .page-header img {
    margin-left: 8%;
    width: 92%;
    height: 74%;
  }
  .page-content main article {
    padding-right: 80px;
    padding-left: 80px;
  }
  .page-content main article header h1 {
    width: 70%;
  }
  .page-content main article:nth-child(2) section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-content main article:nth-child(2) section section {
    width: 100%;
    margin-bottom: 60px;
  }
  .page-content main article:nth-child(2) section aside {
    width: 100%;
    margin-left: 0;
  }
  .page-content main article:nth-child(2) section aside img {
    height: 300px;
  }
  .page-content footer h1 {
    width: 64%;
  }
}

@media only screen and (max-width: 960px) {
  .page-content main article {
    padding-right: 60px;
    padding-left: 60px;
  }
  .page-content main article header {
    margin-bottom: 75px;
  }
  .page-content main article header h1 {
    width: 80%;
  }
  .page-content main article section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-content main article section section {
    width: 100%;
    margin-bottom: 60px;
  }
  .page-content main article section aside {
    width: 100%;
    margin-left: 0;
  }
  .page-content main article section aside img {
    height: 600px;
  }
  .page-content main article:nth-child(2) section aside img {
    height: 420px;
  }
  .page-content footer h1 {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .page-content .page-header {
    padding-bottom: 60px;
  }
  .page-content .page-header h2 {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .page-content .page-header h2 span {
    display: block;
  }
  .page-content .page-header h3 {
    margin-left: 0;
  }
  .page-content main article {
    padding-right: 40px;
    padding-left: 40px;
  }
  .page-content main article section aside img {
    height: 450px;
  }
  .page-content main article:nth-child(2) section aside img {
    height: 320px;
  }
  .page-content footer h1 {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .page-content footer h1 {
    font-size: 54px;
  }
  .page-content footer h1 span {
    font-size: 40px;
  }
}

@media only screen and (max-width: 580px) {
  .page-content main article header h1 {
    width: 100%;
    font-size: 46px;
  }
  .page-content main article:nth-child(2) section aside img {
    height: 280px;
  }
}

@media only screen and (max-width: 480px) {
  .page-content main article {
    padding-right: 20px;
    padding-left: 20px;
  }
  .page-content main article header h2 {
    font-size: 34px;
  }
  .page-content main article header h1 {
    font-size: 38px;
  }
  .page-content main article section section p {
    font-size: 22px;
    line-height: 30px;
  }
  .page-content main article section aside img {
    height: 350px;
  }
  .page-content main article:nth-child(2) section aside img {
    height: 250px;
  }
  .page-content footer h1 {
    font-size: 36px;
  }
  .page-content footer h1 span {
    font-size: 28px;
  }
}

@media only screen and (max-width: 400px) {
  .page-content main article header h2 {
    font-size: 24px;
  }
  .page-content main article header h1 {
    font-size: 24px;
  }
  .page-content main article section section p {
    font-size: 20px;
    line-height: 30px;
  }
  .page-content main article section aside img {
    height: 350px;
  }
  .page-content main article:nth-child(2) section aside img {
    height: 220px;
  }
  .page-content footer h1 {
    font-size: 32px;
  }
  .page-content footer h1 span {
    font-size: 28px;
  }
}
/*# sourceMappingURL=style.css.map */